<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <!-- navbar -->
  <%- include('layouts/navbar') %> 
  <h1>
    <!-- isian konten -->
    <%= title %> 
  </h1>
  
  <% if (successMessage>0) { %>
    <div class="alert alert-success" role="alert" id="message">
      <%= successMessage %> 
    </div>
  <% } %>

  <!-- bootstrap script -->
  <script src="bootstrap/bootstrap.min.js"></script>
</body>

</html>